# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Distribuição / build
build/
dist/
*.egg-info/
*.egg

# IDEs / editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.bak
*.tmp
